* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 95vh;
  margin: 0 auto;
  background-color: #EAEAEA;  
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 500;
}
#app {
  margin: 0 auto;
  height:100%;
}
#app-body {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.loader {
  height: 100vh;
  width: 100vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  z-index: 9999;
}

@media (max-width: 760px) {
  /* HOME COMPONENT */
  #home {
      grid-template-columns: 1fr; /* Single column layout */
      grid-template-areas:
          "img"
          "greeting"
          "work";
      /* Stack all sections vertically */
      gap: 1.5rem; /* Reduce gap */
  }

  #home-greeting {
      font-size: 1rem; /* Adjust font size */
      padding: 2rem; /* Reduce padding */
      gap: 1rem;
  }
  .home-tag {
    text-align: center;
    margin-top: 2.5rem;
  }
  #home-xp-mobile {
      display: block; /* Show mobile experience section */
      grid-area: work; /* Position it correctly */
  }
  .home-card {
      display: none;  
  }
  .home-xp-card {
      background-color: white;
      border: 3px solid black;
      border-radius: 10px;
      padding: 2rem;
      margin-top: 1.5rem;
  }
  #xp-company {
    margin-bottom: 0.5rem;
  }
  #xp-divider {
    margin: 1rem 0;
  }
}
